<launch>
  <arg name="max_duration_sec" default="20.0" />
  <arg name="min_timeout_count" default="1" />
  <arg name="min_reacquire_count" default="1" />
  <arg name="monitor_required" default="true" />

  <include file="$(find human_follow_bringup)/launch/stage1_tracker_sequence.launch" />
  <rosparam command="load" file="$(find human_follow_px4_bridge)/config/px4_bridge.yaml" />
  <node pkg="human_follow_px4_bridge" type="follow_px4_bridge_node.py" name="human_follow_px4_bridge" output="screen" />

  <node pkg="human_follow_px4_bridge" type="controller_bridge_regression_monitor_node.py" name="controller_bridge_regression_monitor" output="screen" required="$(arg monitor_required)">
    <param name="max_duration_sec" value="$(arg max_duration_sec)" />
    <param name="min_timeout_count" value="$(arg min_timeout_count)" />
    <param name="min_reacquire_count" value="$(arg min_reacquire_count)" />
  </node>
</launch>
