<launch>
  <arg name="max_duration_sec" default="18.0" />
  <arg name="monitor_required" default="true" />

  <node pkg="human_follow_bringup" type="stage2_goal_input_fixture_node.py" name="stage2_goal_input_fixture" output="screen">
    <param name="publish_rate_hz" value="15.0" />
    <param name="loop" value="true" />
    <param name="target_world_topic" value="/follow/fusion/target_world" />
    <param name="odom_topic" value="/follow/lio/odom" />
    <param name="cloud_topic" value="/follow/lidar/points" />
  </node>

  <include file="$(find human_follow_bringup)/launch/stage2_real_ego.launch">
    <arg name="stage2_enabled" value="true" />
    <arg name="goal_provider" value="external" />
    <arg name="external_goal_pkg" value="human_follow_user" />
    <arg name="external_goal_type" value="user_stage2_goal_node.py" />
    <arg name="goal_node_name" value="paper_line_stage2_goal" />
    <arg name="target_world_topic" value="/follow/fusion/target_world" />
    <arg name="odom_topic" value="/follow/lio/odom" />
    <arg name="goal_topic" value="/follow/stage2/goal" />
    <arg name="debug_goal_path_topic" value="/follow/stage2/debug_goal_path" />
    <arg name="planner_command_topic" value="/follow/stage2/ego_position_cmd" />
    <arg name="bridge_output_topic" value="/follow/stage2/offboard/setpoint" />
    <arg name="mavros_setpoint_topic" value="/mavros/setpoint_raw/local" />
    <arg name="enable_ego_topic_adapter" value="true" />
    <arg name="ego_goal_topic" value="/move_base_simple/goal" />
    <arg name="ego_waypoint_topic" value="/waypoint_generator/waypoints" />
    <arg name="ego_odom_topic" value="/odom_world" />
    <arg name="ego_grid_odom_topic" value="/grid_map/odom" />
    <arg name="ego_cloud_topic" value="/grid_map/cloud" />
  </include>

  <node pkg="human_follow_px4_bridge" type="fake_mavros_gate_harness_node.py" name="fake_mavros_gate_harness" output="screen" />

  <node pkg="human_follow_bringup" type="stage2_paper_line_regression_monitor_node.py" name="stage2_paper_line_regression_monitor" output="screen" required="$(arg monitor_required)">
    <param name="max_duration_sec" value="$(arg max_duration_sec)" />
  </node>
</launch>
