<launch>
  <arg name="video_path" default="" />
  <arg name="image_topic" default="/follow/camera/image_raw" />
  <arg name="publish_rate_hz" default="15.0" />
  <arg name="detector_backend" default="hog" />
  <arg name="enable_overlay" default="true" />

  <node pkg="human_follow_perception" type="video_replay_node.py" name="video_replay_node" output="screen">
    <param name="video_path" value="$(arg video_path)" />
    <param name="output_topic" value="$(arg image_topic)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
  </node>

  <include file="$(find human_follow_bringup)/launch/stage1_offline_core.launch">
    <arg name="image_topic" value="$(arg image_topic)" />
    <arg name="detector_mock_valid" value="false" />
  </include>

  <param name="/human_follow_detector/backend" value="$(arg detector_backend)" />
  <param name="/human_follow_detector/require_image_heartbeat" value="true" />

  <node if="$(arg enable_overlay)" pkg="human_follow_perception" type="target_overlay_node.py" name="target_overlay_node" output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
  </node>
</launch>
