<launch>
  <arg name="external_controller_pkg" default="human_follow_control" />
  <arg name="external_controller_type" default="control_algorithm_template_node.py" />
  <arg name="require_planning_path" default="false" />
  <arg name="max_duration_sec" default="24.0" />
  <arg name="monitor_required" default="true" />
  <arg name="bridge_output_topic" default="/follow/offboard/setpoint" />

  <include file="$(find human_follow_bringup)/launch/stage1_truth_fusion_controller_regression.launch">
    <arg name="bridge_output_topic" value="$(arg bridge_output_topic)" />
    <arg name="rviz" value="false" />
    <arg name="open_image_view" value="false" />
    <arg name="controller_provider" value="external" />
    <arg name="external_controller_pkg" value="$(arg external_controller_pkg)" />
    <arg name="external_controller_type" value="$(arg external_controller_type)" />
    <arg name="enable_monitor" value="false" />
  </include>

  <node pkg="human_follow_bringup" type="external_controller_ingress_monitor_node.py" name="external_controller_ingress_monitor" output="screen" required="$(arg monitor_required)">
    <param name="controller_type" value="$(arg external_controller_type)" />
    <param name="require_planning_path" value="$(arg require_planning_path)" />
    <param name="max_duration_sec" value="$(arg max_duration_sec)" />
  </node>
</launch>
